@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    
}

body {
    background: linear-gradient(to right, #2193b0, #6dd5ed);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.quiz-container {
    background-color: rgb(230, 230, 230);
    width: 600px;
    max-width: 100%;
    box-shadow: 0 0 10px 1px rgba(105, 105, 105, 0.49);
    border-radius: 10px;
    overflow: hidden; 
    /* we use overflow: hidden to hide the parts of an element that overflow outside of a container */
}

h2 {
    padding: 2rem 2rem;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0 2rem 3rem 2rem;
    font-size: 1.1rem;
}


button {
    background-color: #900C3F;
    color: white;
    display: block;
    width: 100%;
    padding: 1rem 2rem;
    font-family: inherit;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

button:hover {
    background-color: #7a0c36;
}

button:focus {

    background-color: #470720;
}

ul li label,input {
    cursor: pointer;
}

ul li label {
    padding-left: 0.7rem;
}

.alerta {
    display: none;
    color: #7a0c36;
    text-align: center;
    padding-bottom: 2rem;
}